ansible==13.4.0
ansible-core==2.20.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
dnacentersdk==2.11.2
et_xmlfile==2.0.0
fastjsonschema==2.21.2
future==0.18.3
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pycparser==3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
resolvelib==1.2.1
six==1.17.0
urllib3==2.6.3
